extends layout

block content
  h1= title

  #timer Time: 0 seconds


  // Jeu de démineur
  #game-container
    h2 Le démineur
    #game

  #pug-container
      img(src="../images/pugjs.png" alt="Cute Pug")
