extends layout

block content
  h1= title

  #timer Chrono: 0 seconds


  // Jeu de démineur
  #game-container
    h2 Bah faut eviter les bombes quoi
    #game

  #pug-container
      img(src="../images/pugjs.png" alt="Cute Pug")
